<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
</head>
<body>
    <h1>Search Our Accomodations</h1>
    <form th:object="${list}" th:action="@{/search}" method="get">
        <table>
              <tr>
                  <td> 
                      <label for="country">Country:</label> 
                  </td>
                  <td>
                      <input type="text" th:field = "*{country}" size="30">
                      <span class = "error" th:if = "${#fields.hasErrors('country')}" th:errors = "*{country}" style = "color: red;"></span>    
                  </td>
                </tr>
                <tr>                  
                    <td> 
                        <label for="accommodates">Number of person:</label> 
                    </td>
                    <td>
                        <input type="text" th:field = "*{accommodates}" size="30">
                        <span class = "error" th:if = "${#fields.hasErrors('accommodates')}" th:errors = "*{accommodates}" style = "color: red;"></span>    
                    </td>
              </tr>
              <tr>
                    <td> 
                        <label for="price">Price Range:</label> 
                    </td>
                    <td>
                        <label for="min">Min:</label><input type="number" th:field = "*{price}"><label for="max">Max:</label><input type="number" th:field = "*{price}">
                        <span class = "error" th:if = "${#fields.hasErrors('price')}" th:errors = "*{price}" style = "color: red;"></span>    
                    </td>
                    <tr>
                        <td>
                            <button type="submit">Search</button>
                        </td>
                    </tr>
              </tr>
        </table>
    </form>              
</body>
</html>

                  <!-- <td>    
                      <select th:field = "*{country}">
                        <option value="">Select Country</option>
                        <option th:each="${country : ${accomList}}" th:value="${country}"th:text="${country}">
                      </select>
                      <span class = "error" th:if = "${#fields.hasErrors('country')}" th:errors = "*{country}" style = "color: red;"></span>    
                  </td> -->